body {
    font-family: Arial, sans-serif;
    background-color: #e0f7e9;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #2a7b42;
}

.map-container {
    position: relative;
    display: inline-block;
}

.map {
    width: 250px; /* Diminuído para um tamanho mais compacto */
    height: auto;
}

.bioma {
    position: absolute;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.bioma img {
    width: 30px; /* Imagens dos biomas menores */
    height: auto;
}

.bioma:hover {
    transform: scale(1.2);
}

/* Posição dos biomas */
.pampa {
    left: 45px;
    top: 160px;
}

.mata-atlantica {
    left: 120px;
    top: 180px;
}

.amazonia {
    left: 85px;
    top: 90px;
}

.cerrado {
    left: 130px;
    top: 150px;
}

.caatinga {
    left: 140px;
    top: 130px;
}

.pantanal {
    left: 95px;
    top: 210px;
}

.info-box {
    margin-top: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.hidden {
    display: none;
}

#biome-name {
    font-size: 1.5em;
    color: #2a7b42;
    margin-bottom: 10px;
}

#biome-description {
    font-size: 1em;
    color: #333;
}

