body {
    font-family: Arial, sans-serif;
    background-color: #e5ffe5;
    margin: 0;
    padding: 0;
}

.map-container {
    position: relative;
    width: 60%;
    margin: 50px auto;
}

.mapa {
    width: 100%;
    display: block;
}

.bioma {
    position: absolute;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.pampa {
    left: 20%;
    top: 80%;
    width: 8%;
}

.mata-atlantica {
    left: 45%;
    top: 60%;
    width: 7%;
}

.amazonia {
    left: 30%;
    top: 30%;
    width: 9%;
}

.caatinga {
    left: 50%;
    top: 50%;
    width: 6%;
}

.pantanal {
    left: 38%;
    top: 65%;
    width: 9%;
}

.cerrado {
    left: 42%;
    top: 40%;
    width: 10%;
}

.curiosidade {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #333;
    padding: 10px;
    border-radius: 5px;
    display: none;
    z-index: 10;
    max-width: 200px;
}

.bioma:hover {
    transform: scale(1.1);
}

.bioma:hover + #curiosidade {
    display: block;
}
