body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e0f7e0; /* Tons de verde */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.map-container {
    position: relative;
}

.map {
    width: 600px;
    height: auto;
    display: block;
}

.biome {
    position: absolute;
    transition: transform 0.3s ease, transform-origin 0.3s ease;
}

.biome-icon {
    width: 60px;
    height: auto;
    cursor: pointer;
}

#pampa {
    top: 85%; /* Ajustado para posicionar corretamente dentro do mapa */
    left: 40%;
}

#pantanal {
    top: 60%; /* Ajustado para posicionar dentro do mapa */
    left: 35%;
}

#cerrado {
    top: 55%; /* Leve ajuste para melhor posição */
    left: 40%;
}

#caatinga {
    top: 50%; /* Leve ajuste para melhor posição */
    left: 50%;
}

#mata-atlantica {
    top: 65%;
    left: 75%;
    animation: sway 3s infinite ease-in-out;
}

#amazonica {
    top: 35%;
    left: 40%;
    animation: sway 3s infinite ease-in-out;
}


@keyframes sway {
    0%, 100% {
        transform: translateX(0) rotate(0deg);
    }
    50% {
        transform: translateX(5px) rotate(2deg);
    }
}
